<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/head}"/>
<body>
	<div class="wrapper">
		<header th:replace="~{components/header :: headerContent(
			firstName=${headerUser.getFirstName()},
			lastName=${headerUser.getLastName()},
			imageUrl=${headerUser.getImageUrl()})}"
		/>
		<main class="model custom-wrapper">
			<div class="model__head">
				<div class="offers__name">
					<span th:text="${brand.name}" class="offers__brand"></span>
					<span> </span>
					<span th:text="${model.name}" class="offers__model"></span>
				</div>
				<div class="offers__filter-row">
					<select class="model__filter" id="engine">
						<option value="">Тип двигателя</option>
						<option value="gasoline">Бензин</option>
						<option value="diesel">Дизель</option>
						<option value="electric">Электро</option>
						<option value="hybrid">Гибрид</option>
					</select>
					<select class="model__filter" id="transmission">
						<option value="">КПП</option>
						<option value="manual">Механическая</option>
						<option value="automatic">Автоматическая</option>
					</select>
				</div>
			</div>
			<div class="model__column">
				<a th:each="offer: ${offers}" th:href="@{/person/offer/{offerId}(offerId=${offer.id})}" class="model__card">
					<div class="model__img">
						<img th:src="${offer.imageUrl}" alt=""/>
					</div>
					<div class="model__data">
						<div class="offers__head">
							<div class="offers__name">
								<span th:text="${brand.name}" class="model__brand"></span>
								<span> </span>
								<span th:text="${model.name}" class="model__model"></span>
							</div>
							<div>
								<span th:text="${offer.price}" class="offers__price"></span>
								Р
							</div>
						</div>
						<div class="offers__specifications">
							<div class="offers__specifications-column">
								<p>
									<span>Тип двигателя: </span>
									<span th:text="${offer.engine}" class="offers__specifications-engine"></span>
								</p>
								<p>
									<span>КПП: </span>
									<span th:text="${offer.transmission}" class="offers__specifications-transmission"></span>
								</p>
							</div>
							<div class="offers__specifications-column">
								<p>
									<span>Пробег: </span>
									<span th:text="${offer.mileage}" class="offers__specifications-mileage"></span>
									км
								</p>
								<p>
									<span>Год выпуска: </span>
									<span th:text="${offer.year}" class="offers__specifications-year"></span>
								</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</main>
	</div>
	<script th:src="@{js/app.js}"></script>
</body>
</html>